// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "blueprint/buttons";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  //@include showgrid;
}

body.login {

  background-color: #F5FFFA;

  fieldset {
	  width: auto;
	  padding: 20px;
	  border: 2px #666 solid;
	  background-color:	#666;
	  -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	  display: block;
  }

  legend {
	  color: #444;
	  font-size: 30px;
  }

  ul.login {
    list-style: none;
    padding-left: 60px;
  }

  #notification, #login_box {
    @include append(8);
    @include prepend(8);
    @include column(8);
  }

  #notification {
    @include prepend-top(50px);
    color: red;
    position:fixed;
  }

  #login_box {
    @include prepend-top(250px);
    color: #eee;

    input {
      width: 250px;
    }

    .login_button {
      @include button-colors;
      @include button-hover-colors;
      margin-top: 15px;
      width: 254px;
    }
  }

  .box-title {
    line-height: 0;
  }
}

body.bp {

  label {
    display: block;
  }

  hr {
    padding: 0;
  }

  thead th {
    background: #D1EEEE;
    border-bottom: 1px #E0EEEE solid;
  }

  .formit {
    padding: 30px;
    background-color: #F5FFFA;
    margin-bottom: 20px;
  }

  .right-on {
    float: right;
  }

  .tabs { 
	  height: auto; 
	  margin: 0;
	  overflow: auto;
	  padding-left: 0; 

    li {
      border: 1px solid #ccc;
      border-bottom: none;
      float: left;
      line-height: 1.5; 
      list-style-type: none;
      margin: 0 .25em 0 0;
      padding: 0;

      a { 
          background: #ddd;
          border: 1px solid #eee;
          border-bottom: none;
          color: #222;
          cursor: pointer;
          float: left;
          font-weight: bold;       
      }

      span { 
        background: #66cccc;
        border: 1px solid #66cccc;
        border-bottom: none;
        color: #fff;
        cursor: default;
      }

      span, a {
        display: block;
        padding: 2px 2px 0 2px;      
      }

      a, a:focus, a:hover { 
        text-decoration: none;
      }

      a:focus, a:hover { 
        color: #555;
        outline: none;
      }

      a.selected:focus, a.selected:hover { 
        color: #fafafa;
      }	
    }                       
  }

  * html .tabs { height:1%; /* fixing IE 6 */ }
      
  #header, #container {
    @include prepend(1); 
  }

  #header, #footer {
    @include append(1);
    text-align : right;
  }

  #navigation, #footer {
    @include prepend-top(5px);
  }

  #navigation, #footer, #sub_navigation {
    padding-left: 5px;
  }

  #header {
  }

  #navigation {
 	  border-bottom: 2px #66cccc solid;

    .tabs_section {
      float: left;
    }

    .logout_section {
      float: right;
      margin-right: 15px;

      a, a:visited {
        text-decoration: none;
        color: #666;
      }

      a:hover {
        color: #66cccc;
      }
    }
  }

  .clear { float: clear-both }

  #sub_navigation {
    @include background($quiet-color);
    padding: 3px;
    color: #eee;

    a {
      text-decoration: none;
      color: #eee;
    }
  }

  #footer {
  }

  #container {
    @include span(20,true);
    @include append(4);
    text-align: left;

    #google-ads-space{
      @include column(14,true);
    }
  }
}


