// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "blueprint/buttons";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  //@include showgrid;
}

body.login {

  fieldset {
	  width: auto;
	  padding: 20px;
	  border: 2px #66cccc solid;
	  background-color:	#eee;
	  -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	  display: block;
  }

  legend {
	  color: #444;
	  font-size: 30px;
  }

  ul.login {
    list-style: none;
    padding-left: 60px;
  }

  #login_box {
    @include prepend-top(250px);
    @include append(8);
    @include prepend(8);
    @include column(8);

    .login_button {
      @include button-colors;
      @include button-hover-colors;
      width: 150px;
    }
  }
}

body.bp {

  #header, #container {
    @include prepend(1); 
    @include prepend-top(20px);
    @include append-bottom(20px);
  }

  #header, #footer {
    @include append(1);
    text-align : right;
  }

  #navigation, #footer {
    @include prepend-top(5px);
  }

  #navigation, #footer, #sub_navigation {
    padding-left: 5px;
  }

  #header {
  }

  #navigation {
  }

  #sub_navigation {
    @include background($quiet-color);
    @include append-bottom(5px);
    padding-top: 2px;
    padding-bottom: 2px;
  }

  #footer {
  }

  #container {
    @include span(20,true);
    @include append(4);
    text-align : left;

    #google-ads-space{
      @include column(14,true);
    }
  }
}


